#container{
    width: 1000px;
    margin: 0 auto;
    border: none;
}
div{
    width: 700px;
    margin: 20px auto;
    border: 1px solid #555;
    padding: 20px;
}
#description{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
p{line-height: 2;}
ol li{line-height: 2;}
table, th, td{
    border: 1px  solid #ccc;
    border-collapse: collapse;
}
th, td{
    padding: 10px 20px;
    text-align: center;
}
#package{
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
caption{
    margin-bottom: 10px;
}
div.bg{
    width: 500px;
    height: 400px;
    background: url(../images/tangerine.PNG) no-repeat;
    border: none;
    margin-left: 10px;
}